body{
    border-color: black;
    color: white;
}
.flex-container{
    background-color: blue;
 
}
.flex-item{
    background-color: white;
    border: 3px solid gray;
    font-size: 20px;
    margin: 10px;
    color: black;
}